{% extends 'base.html.twig' %}

{% block title %}Nowa pozycja{% endblock %}

{% block body %}
    <h1>Nowa pozycja</h1>

    {{ include('position/_form.html.twig') }}

    <a href="{{ path('invoice_index') }}">powrót</a>
{% endblock %}